langchain
langchain-community
langchain-core
langgraph
langsmith
faiss-cpu
fastembed
pymupdf4llm
python-docx
python-pptx
beautifulsoup4
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
requests
pydantic
asyncio
fastapi
uvicorn
python-multipart
scikit-learn
tiktoken
langchain_groq
langchain_ollama
langchain_openai
pandas
